---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes__r_installed_version.stdout }}
controlPlaneEndpoint: {{ kubernetes_apiserver_vip }}:{{ kubernetes_apiserver_port }}
networking:
  podSubnet: {{ kubernetes_pod_cidr }}

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ kubernetes_address }}
certificateKey: {{ kubernetes_certificate_key }}
