---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
clusterName: {{ kubernetes_cluster_name }}
kubernetesVersion: {{ kubernetes__r_installed_version.stdout }}
controlPlaneEndpoint: {{ kubernetes_apiserver_vip_cidr | ipaddr("address") }}:{{ kubernetes_apiserver_vip_port }}
networking:
  podSubnet: {{ kubernetes_pod_cidr }}
{% if kubernetes_apiserver_sans | select() | list != [] %}
apiServer:
  certSANs:
{% for san in kubernetes_apiserver_sans | select() | list %}
    - {{ san }}
{% endfor %}
{% endif %}

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ kubernetes_address }}
certificateKey: {{ kubernetes_certificate_key }}
nodeRegistration:
  kubeletExtraArgs:
    node-ip: {{ kubernetes_address }}

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: {{ kubernetes_cgroup_driver }}
